<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] - %msg \(%F:%L\)%n</Pattern>
    </encoder>
  </appender>

  <logger name="so.sabami.template" level="info" />
  <logger name="org.springframework" level="info" />
  <logger name="log4jdbc" level="warn" />
  <logger name="jdbc.sqltiming" level="debug" />
  <logger name="jdbc.sqlonly" level="warn"/>
  <logger name="jdbc.audit" level="warn"/>
  <logger name="jdbc.connection" level="warn"/>
  <logger name="jdbc.resultset" level="warn"/>
  <logger name="jdbc.resultsettable" level="debug"/>

  <root level="debug">
    <appender-ref ref="console" />
  </root>

</configuration>
